<h1 style="text-align: center">Take Payment</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Enter User Id</label>
            <input  type="text" class="form-control" id=userId name="userId">
          </div>
          <div class="form-group">
            <label for="">Enter Amount</label>
            <input type="text" class="form-control" id=ammount name="ammount">
          </div>
          <div class="form-group">
              <button (click)="onPay()" class="btn btn-success">Pay</button>
          </div>
        </div>
      </div>
